NODE_ENV=development
PORT=8000
DATABASE_URL="mysql://root:password@localhost:3306/examponcol_db"
JWT_SECRET=isi_dengan_secret_64_karakter_acak
JWT_EXPIRES_IN=8h
UPLOAD_DIR=uploads/questions
CORS_ORIGINS=http://localhost:5173,http://localhost:3000